<div class="container">
  <mat-form-field class="emp-select">
    <mat-label>Select an employee</mat-label>
    <mat-select
      [(ngModel)]="selectedEmp"
      (selectionChange)="loadStructure($event)"
    >
      <mat-option *ngFor="let employee of employees" [value]="employee">
        {{ employee.firstName }} {{ employee.lastName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h1>Hierarchy</h1>
  <div class="hierarchy-container">
    <app-employee-path class="root-emp" *ngIf="path" [path]="path" />
  </div>

  <h1>Subordinates</h1>
  <div class="hierarchy-container">
    <app-employee-card
      class="root-emp"
      *ngIf="hierarchy"
      [employee]="hierarchy"
    />
  </div>
</div>
