.root-emp {
  display: block;
  height: 100%;
  margin: 1rem;
}

.emp-select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  margin: 1rem auto;
}

.container {
  max-width: 100vw;
}

.hierarchy-container {
  max-width: 100%;
  width: fit-content;
  overflow: auto;
  margin-bottom: 3rem !important;
  margin: auto;
}

h1 {
  width: fit-content;
  margin: auto;
  color: #eef1ef;
  border-bottom: 3px solid #eef1ef;
}
